.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 8px;
}

.content h2 {
    border-top: unset;
    background-image: unset;
    margin-top: 0em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.content h3, .content h4, .content h5, .content h6 {
    margin-top: 0em;
}

.content>h2,.content>div {
    clear: unset;
}

.content>h1 {
    clear: both;
}

.content figure {
    background-color: #292929;
    color: #fff;
    padding: 2em 28px;
    margin: 0;
    width: 50%;
    float: right;
    clear: right;
    box-sizing: border-box;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.content figure figcaption h4 {
    display: inline;
}

.content figure figcaption p {
    display: inline;
    float: right;
    font-size: 80%;
}

.content figure figcaption a {
    color: #fff;
    text-decoration: none;
    border-bottom: dashed 1px #ccc;
}

.content pre, .content blockquote, .content figure {
    margin-top: -22px;
}

.content div.spoiler, .content div.note {
    width: 50%;
    margin-right: 50%;
    margin-bottom: 1em;
}

.content div.spoiler > div, .content div.note > div {
    box-sizing: border-box;
    margin: 0 28px 0px;
    padding: 1em 1em 0;
}

.content div.spoiler > div {
    transition: color .5s ease-in;
    border-left: 2px solid #8fb7ff;
    background-color: #e3eeff;
}

.content div.spoiler > div p, .content div.note > div p {
    margin-bottom: 0;
    padding-bottom: 1em;
}

.content div.spoiler > div code {
    transition: color .5s ease-in;
}

.content div.spoiler > div:not(:hover) {
    color: rgba(0, 0, 0, 0);
}

.content div.spoiler > div:not(:hover) code {
    background-color: transparent;
}

.content div.note > div {
    border-radius: .25rem;
    background-color: #d1ecf1;
    border: 1px solid transparent;
    border-color: #bee5eb;
    display: flex;
}

.content div.note > div::before {
    content: "\e602";
    font-family: 'slate';
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

.content > p {
    text-shadow: unset;
}
