.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 8px;
}

.content h2 {
    border-top: unset;
    background-image: unset;
    margin-top: 0em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.content h3, .content h4, .content h5, .content h6 {
    margin-top: 0em;
}

.content>h2,.content>div {
    clear: unset;
}

.content>h1 {
    clear: both;
}

.content pre, .content blockquote {
    padding: 1em 28px;
}

.content blockquote {
    font-family: monospace;
}

@media print {
    .sidebar-title {
        font-size: 36px;
    }
}
